body {
    background-color: #343A40;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 325px;
    height: 265px;
    padding: 4px;
    font: 12px sans-serif;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}
.tooltip-table {

}
.website-link {
    color:#ffffff !important;
}
.navbar {
    background-image: url("img/coronavirus-wide.png");
    background-size: cover;
}
.text-heading {
    color: #4D0000;
}
.text-content {
    font-size: 10pt;
}

.text-sub-heading {
    color: rgb(100, 100, 100);
}
.tooltip-header {
    font: 15px sans-serif;
    font-weight: bold;
    padding-bottom: 2px;
}
.tooltip-sub-header {
    font: 12px sans-serif;
    padding-bottom: 5px;
}

.tooltip-label-cell {
    text-align: right;
    font-weight: bold;
    padding-right: 5px;
}
.tooltip-value-cell {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}
.tooltip-color-cell {
    width: 12px;
    height: 12px;
}
.tooltip-chart-label-cell {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}
.tooltip-newcase-chart-cell {
    width: 300px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    /*padding-bottom: 100%; /* aspect ratio */
    padding-bottom: 60%;
    vertical-align: top;
    overflow: hidden;
}
.tooltip-svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: top;
    overflow: hidden;
}
.btn-primary {
    background-color: #900;
    border-color: #900;
}
.btn-primary:hover {
    background-color: #900;
    border-color: #900;
}
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(99, 0, 0, 0.25);
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0; /* was 10px*/
    left: 0;
}
.legend-text {
    font-family: sans-serif;
    font-size: 7pt;
}

.legend-label {
    font-family: sans-serif;
    font-size: 12pt;
    text-align: center;
}
.play-button {

}
.instructions-label {
    font-family: sans-serif;
    fill: #7f7f7f;
    font-size: 9pt;
    font-style: italic;
}
.loading-text {
    font-family: sans-serif;
    fill: #7f7f7f;
    font-size: 10pt;
    font-style: italic;
}
.slider::-webkit-slider-thumb {
  background: #900;
}

.slider::-moz-range-thumb {
  background: #900;
}